* {
    margin: 0;
    padding: 0;
}
.top-header {
    padding: 51px 0;
    margin: 0 0 21px 0;
}
.top-content-subtitle {
    margin: 0 0 17px 0;
}
.top-content-txt {
    margin: 0 0 16px 0;
}
.top-content {
    margin: 0 0 53px 0;
}